{
  "extends": "stylelint-config-recommended-scss",
  "plugins": ["stylelint-order", "stylelint-scss"],
  "rules": {
    "order/properties-alphabetical-order": null,
    "scss/at-rule-no-unknown": null,
    "scss/at-import-no-partial-leading-underscore": null,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["font-named-instance"]
      }
    ],
    "no-invalid-position-at-import-rule": null
  }
}
