// home specific styles
.banner__text {
  max-width: 36ch;
}

// the eye is only on the home page
.ascii-eye__pre {
  font-size: 0.42rem;
  line-height: 1;

  @media screen and (min-width: 640px) {
    font-size: 0.69rem;
  }
}
