// home specific styles
// the first section is the banner

// ascii art: banner left, top on mobile
.ascii-wrap {
  @apply relative flex flex-col items-center justify-center h-auto md:h-full w-full md:w-1/2;
}

.ascii-wrap__pre {
  @apply w-full min-w-full max-w-full mx-auto text-center;
}

// the content: banner right, bottom on mobile. contains the content and the button
.banner-info {
  @apply relative flex flex-col h-auto md:h-full w-full md:w-1/2 items-center justify-center space-y-6;
}

// wraps the title, subtitle, and text
.banner-info__content {
  @apply relative flex flex-col items-center justify-center;
}

.banner-info__title {
  @apply relative inline-block w-full text-4xl md:text-5xl font-bold text-center;
}

.banner-info__subtitle {
  @apply relative inline-block w-full text-2xl md:text-3xl font-bold text-center;
}

.banner-info__text {
  @apply relative inline-block w-auto text-lg md:text-xl text-left;
  max-width: 35ch;
}

.ascii-eye {
  display: block;
  margin-bottom: 16px;
  max-width: 100%;
  min-width: 100%;
  position: inherit;

  text-align: center;
  width: 100%;

  & pre {
    display: block;
    filter: contrast(110%) brightness(95%);
    font-size: 5px;

    line-height: 1;
    margin: 0;
    padding: 0;
  }
}

.dark .ascii-eye {
  & pre {
    filter: contrast(110%) brightness(105%);
  }
}
