*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter var', sans-serif;
  font-feature-settings: 'case' 0, 'cpsp' 0, 'dlig' 0, 'frac' 0, 'dnom' 0, 'numr' 0, 'salt',
    'subs' 0, 'sups' 0, 'tnum' 0, 'zero', 'ss01' 0, 'ss02', 'ss03' 0, 'ss04' 0, 'cv01' 0, 'cv02' 0,
    'cv03' 0, 'cv04' 0, 'cv05' 0, 'cv06' 0, 'cv07' 0, 'cv08' 0, 'cv09' 0, 'cv10' 0, 'cv11' 0, 'calt',
    'ccmp', 'kern';
  height: auto;
  position: relative;
}

html,
body {
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

html {
  cursor: default;
  -webkit-font-feature-settings: 'kern' 1, 'liga' 1, 'clig' 1, 'calt' 1;
  -moz-font-feature-settings: 'kern' 1, 'liga' 1, 'clig' 1, 'calt' 1;
  font-feature-settings: 'kern' 1, 'liga' 1, 'clig' 1, 'calt' 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-size: 16px;
  font-size: clamp(12px, calc(0.8rem + 0.25vw), 20px);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  hyphens: auto;
  line-height: 1.5;
  overflow-wrap: normal;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: var(--theme-accent) var(--theme-accent-contrast);
  scrollbar-width: thin;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  /* word wrapping */
  word-break: break-word;
  word-wrap: normal;
}

// stylelint-disable-next-line no-descending-specificity
::-webkit-scrollbar {
  width: 9px;
}

// stylelint-disable-next-line no-descending-specificity
::-webkit-scrollbar-track {
  background-color: var(--theme-accent-contrast);
  -webkit-box-shadow: 1px 2px 2px hsl(var(--shadow-color) / 0.333),
    2px 4px 4px hsl(var(--shadow-color) / 0.333), 3px 6px 6px hsl(var(--shadow-color) / 0.333);
  box-shadow: 1px 2px 2px hsl(var(--shadow-color) / 0.333),
    2px 4px 4px hsl(var(--shadow-color) / 0.333), 3px 6px 6px hsl(var(--shadow-color) / 0.333);
}

// stylelint-disable-next-line no-descending-specificity
::-webkit-scrollbar-thumb {
  background-color: var(--theme-accent);
  border-left: 1px solid var(--theme-accent-contrast);
  border-radius: 6px;
  -webkit-box-shadow: 0.5px 1px 1px hsl(var(--shadow-color) / 0.7);
  box-shadow: 0.5px 1px 1px hsl(var(--shadow-color) / 0.7);
}

::selection {
  background-color: var(--theme-accent-contrast);
  color: #fefefe;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  // start new stacking context
  isolation: isolate;
  max-height: 100%;
  max-width: 100%;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  width: 100%;
}

button,
button span,
input,
optgroup,
select,
textarea,
a {
  cursor: pointer;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
