/* variables */
:root {
  --background-color: theme('colors.gray.100');
  --text-color-primary: theme('colors.gray.900');
  --text-color-secondary: theme('colors.gray.800');

  /* tokens */
  --shadow-color: 0deg 0% 42%;
  --theme-accent: #6a5acd;
  --theme-accent-secondary: #e0c3fc;
  --theme-accent-contrast: #080c3d;

  /* colors */
  --link-color: theme('colors.indigo.700');
  --link-color-hover: theme('colors.indigo.500');

  /* size */
  --max-width: theme('screens.xl');
}

html.dark {
  --background-color: theme('colors.gray.900');
  --text-color-primary: theme('colors.gray.100');
  --text-color-secondary: theme('colors.gray.200');

  /* tokens */
  --shadow-color: 0deg 0% 69%;
  --theme-accent: #757bc8;
  --theme-accent-secondary: #cbb2fe;
  --theme-accent-contrast: #cabcc3;

  /* colors */
  --link-color: theme('colors.indigo.500');
  --link-color-hover: theme('colors.indigo.300');
}
