/* variables */
:root {
  // base
  --background-color: theme('colors.gray.100');
  --text-primary-color: theme('colors.gray.800');
  --text-secondary-color: theme('colors.gray.700');
  --heading-primary-color: theme('colors.yellow.500');
  --heading-secondary-color: theme('colors.yellow.400');

  /* tokens */
  --shadow-color: 0deg 0% 42%;
  // overriden by dark mode
  --theme-accent: #6a5acd;
  --theme-accent-transparent: rgba(106, 90, 205, 0.3);
  --theme-accent-secondary: #7430b4;
  --theme-accent-contrast: #080c3d;

  /* colors */
  // overriden by dark mode
  --link-color: theme('colors.indigo.700');
  --link-color-hover: theme('colors.indigo.500');
  --button-text-color: theme('colors.gray.100');
  --button-text-color-hover: theme('colors.gray.200');
  --nav-item-color: theme('colors.purple.600');
  --nav-item-color-hover: theme('colors.purple.700');

  /* size */
  --max-width: theme('screens.xl');

  /* spacing */
  --gutter-y: theme('space.8');
  --gutter-x: theme('space.4');
}

html.dark {
  // base
  --background-color: theme('colors.gray.900');
  --text-primary-color: theme('colors.gray.50');
  --text-secondary-color: theme('colors.gray.200');
  --heading-primary-color: theme('colors.yellow.400');
  --heading-secondary-color: theme('colors.yellow.300');

  /* tokens */
  --shadow-color: 0deg 0% 69%;
  --theme-accent: #757bc8;
  --theme-accent-transparent: rgba(117, 123, 200, 0.3);
  --theme-accent-secondary: #cbb2fe;
  --theme-accent-contrast: #cabcc3;

  /* colors */
  --link-color: theme('colors.indigo.500');
  --link-color-hover: theme('colors.indigo.300');
  --button-text-color: theme('colors.gray.300');
  --button-text-color-hover: theme('colors.gray.50');
  --nav-item-color: theme('colors.purple.100');
  --nav-item-color-hover: theme('colors.gray.300');
}
