// wrap
.logo {
  @apply relative flex items-center justify-center;
}

// the link el
.logo__anchor {
  @apply relative inline-block w-auto h-auto transform-gpu motion-safe:hover:scale-110 transition-transform;
}

// the svg
.logo__svg {
  @apply w-full inline-block;
  max-width: 420px;
  min-width: 300px;
  position: inherit;
}

.logo__svg--primary {
  fill: var(--theme-accent, #f2f9f9);

  @media screen and (prefers-reduced-motion: no-preference) {
    &:hover {
      animation: logo-color-change 2.5s infinite;
    }
  }
}

// the borders are not visible in the svg, but they are used to create the illusion of a border
.logo__svg--secondary {
  fill: var(--background-color);
}

@keyframes logo-color-change {
  0% {
    fill: var(--theme-accent);
  }
  50% {
    fill: var(--background-color);
  }
  100% {
    fill: var(--theme-accent);
  }
}
