// contains logo, social links, and nav links
.headerInner {
  max-width: var(--max-width);
}

.nav__item {
  color: var(--nav-item-color);

  &:hover,
  &:focus {
    background-color: var(--theme-accent-transparent);
    color: var(--nav-item-color-hover);
  }
}
