@tailwind base;

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* -------------------------------------------------------
  Regular font as backup to variable fonts
*/
/* extra light */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: local('Inter Extra Light'),
    url('/static/fonts/Inter-ExtraLight.woff2?v=3.19') format('woff2'),
    url('/static/fonts/Inter-ExtraLight.woff?v=3.19') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  src: local('Inter Extra Light Italic'),
    url('/static/fonts/Inter-ExtraLightItalic.woff2?v=3.19') format('woff2'),
    url('/static/fonts/Inter-ExtraLightItalic.woff?v=3.19') format('woff');
}
/* normal */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter Regular'), url('/static/fonts/Inter-Regular.woff2?v=3.19') format('woff2'),
    url('/static/fonts/Inter-Regular.woff?v=3.19') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: local('Inter Italic'), url('/static/fonts/Inter-Italic.woff2?v=3.19') format('woff2'),
    url('/static/fonts/Inter-Italic.woff?v=3.19') format('woff');
}
/* bold */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local('Inter Bold'), url('/static/fonts/Inter-Bold.woff2?v=3.19') format('woff2'),
    url('/static/fonts/Inter-Bold.woff?v=3.19') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: local('Inter Bold Italic'),
    url('/static/fonts/Inter-BoldItalic.woff2?v=3.19') format('woff2'),
    url('/static/fonts/Inter-BoldItalic.woff?v=3.19') format('woff');
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-display: swap;
  font-family: 'Inter var';
  font-named-instance: 'Regular';
  font-style: normal;
  font-weight: 100 900;
  src: url('/static/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter var';
  font-named-instance: 'Italic';
  font-style: italic;
  font-weight: 100 900;
  src: url('/static/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
/* @font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("/static/fonts/Inter.var.woff2?v=3.19") format("woff2");
} */

/* variables */
:root {
  --theme-color: #420069;

  /* tokens */
  --shadow-color: 0deg 0% 42%;
  --theme-accent: #ffa9e7;
  --theme-accent-secondary: #7f2ccb;
  --theme-accent-contrast: #5c164e;
}

html.dark {
  /* tokens */
  --shadow-color: 0deg 0% 69%;
  --theme-accent: #692222;
  --theme-accent-secondary: #5c164e;
  --theme-accent-contrast: #ffa9e7;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  height: auto;
  position: relative;
}

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  cursor: default;
  -webkit-font-feature-settings: 'kern' 1, 'liga' 1, 'clig' 1, 'calt' 1;
  -moz-font-feature-settings: 'kern' 1, 'liga' 1, 'clig' 1, 'calt' 1;
  font-feature-settings: 'kern' 1, 'liga' 1, 'clig' 1, 'calt' 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-size: clamp(12px, calc(0.8rem + 0.25vw), 20px);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  hyphens: auto;
  line-height: 1.7;
  overflow-wrap: normal;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: var(--theme-accent) var(--theme-color);
  scrollbar-width: thin;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  /* word wrapping */
  word-break: break-word;
  word-wrap: normal;
}

// stylelint-disable-next-line no-descending-specificity
::-webkit-scrollbar {
  width: 9px;
}

// stylelint-disable-next-line no-descending-specificity
::-webkit-scrollbar-track {
  background-color: var(--theme-color);
  -webkit-box-shadow: 1px 2px 2px hsl(var(--shadow-color) / 0.333),
    2px 4px 4px hsl(var(--shadow-color) / 0.333), 3px 6px 6px hsl(var(--shadow-color) / 0.333);
  box-shadow: 1px 2px 2px hsl(var(--shadow-color) / 0.333),
    2px 4px 4px hsl(var(--shadow-color) / 0.333), 3px 6px 6px hsl(var(--shadow-color) / 0.333);
}

// stylelint-disable-next-line no-descending-specificity
::-webkit-scrollbar-thumb {
  background-color: var(--theme-accent);
  border-left: 1px solid var(--theme-color);
  border-radius: 6px;
  -webkit-box-shadow: 0.5px 1px 1px hsl(var(--shadow-color) / 0.7);
  box-shadow: 0.5px 1px 1px hsl(var(--shadow-color) / 0.7);
}

::selection {
  background-color: var(--theme-accent-contrast);
  color: #fefefe;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  width: 100%;
}

button,
button span,
input,
optgroup,
select,
textarea,
a {
  cursor: pointer;
}
