// Adding utilities:
// https://tailwindcss.com/docs/adding-new-utilities
// Tailwinds Layers
// https://tailwindcss.com/docs/functions-and-directives#layer

@layer base {
  h1 {
    @apply text-3xl tracking-tighter mb-4 text-gray-800 dark:text-white md:text-5xl;
    font-variation-settings: 'wght' 300;
  }
  h2 {
    @apply text-2xl tracking-tight mb-4 text-gray-700 dark:text-gray-100 md:text-4xl;
  }
  h3 {
    @apply text-xl tracking-normal mb-2 text-gray-600 dark:text-gray-200 md:text-3xl;
  }
  h4 {
    @apply text-lg tracking-normal mb-2 text-gray-600 dark:text-gray-200 md:text-2xl;
  }
  p {
    @apply text-base tracking-tight my-2 text-gray-700 dark:text-gray-200;
  }
  a {
    @apply text-base tracking-tight;
    color: var(--link-color);
    transition: color 0.2s ease-in-out;

    &:hover,
    &:focus {
      color: var(--link-color-hover);
    }
  }
  li {
    @apply relative text-base tracking-tight mb-1 text-gray-700 dark:text-gray-200;
  }
  ul {
    @apply list-none block my-2 pl-6 mx-0;
    & li::before {
      @apply absolute -ml-4;
      color: var(--theme-accent-contrast);
      content: var(--list-item-style, '-');
    }
  }
  ol {
    @apply relative block list-none my-2 mx-0 px-0;

    & li {
      @apply pl-7;
    }
    & > li::before {
      @apply absolute left-1;
      color: var(--theme-accent-contrast);
      content: counter(list-item, var(--list-counter-style, decimal)) '.';
    }
  }
}

@layer components {
  // for the container wrap
  .section-fluid {
    @apply relative block min-w-full w-full mx-auto;
  }

  // for the inner wrap
  .container {
    @apply relative block w-full mx-auto px-4 md:px-8;
    max-width: var(--max-width);
  }

  .article {
    @apply flex flex-col items-start justify-center w-full max-w-2xl mx-auto;
  }
}
