// Adding utilities:
// https://tailwindcss.com/docs/adding-new-utilities
// Tailwinds Layers
// https://tailwindcss.com/docs/functions-and-directives#layer

@layer base {
  h1 {
    @apply text-4xl tracking-tighter mb-4 md:text-5xl font-light break-words;
    color: var(--heading-primary-color);
    word-wrap: normal;
  }
  h2 {
    @apply text-3xl tracking-tight mb-4  md:text-4xl font-normal;
    color: var(--heading-secondary-color);
    word-wrap: normal;
  }
  h3 {
    @apply text-2xl tracking-normal mb-2 md:text-3xl font-semibold;
    color: var(--heading-primary-color);
    word-wrap: normal;
  }
  h4 {
    @apply text-xl tracking-normal mb-2 md:text-2xl font-bold;
    color: var(--text-primary-color);
    word-wrap: normal;
  }
  p {
    @apply text-lg tracking-tight my-1 font-normal;
    color: var(--text-primary-color);
    word-wrap: normal;
  }
  a {
    @apply tracking-tight font-normal;
    color: var(--link-color);
    font-size: inherit;
    transition: color 0.2s ease-in-out;

    &:hover,
    &:focus {
      color: var(--link-color-hover);
    }
  }
  button {
    @apply text-base tracking-tight font-normal inline-block px-5 py-3.5 md:px-8 md:py-4 rounded-md;

    &:focus {
      outline: none;
    }
  }
  li {
    @apply text-base relative font-normal text-lg tracking-normal mb-1.5 break-words;
    color: var(--text-primary-color);
    word-wrap: normal;
  }
  ul {
    @apply list-none block my-2 pl-6 mx-0;

    & li::before {
      @apply absolute -ml-4;
      color: var(--theme-accent-contrast);
      content: var(--list-item-style, '-');
    }
  }
  ol {
    @apply relative block list-none my-2 mx-0 px-0;

    & li {
      @apply pl-7;
    }
    & > li::before {
      @apply absolute left-1;
      color: var(--theme-accent-contrast);
      content: counter(list-item, var(--list-counter-style, decimal)) '.';
    }
  }
}

@layer components {
  // fonts
  .font-extralight {
    font-variation-settings: 'wght' 100;
  }

  .font-thin {
    font-variation-settings: 'wght' 200;
  }

  .font-light {
    font-variation-settings: 'wght' 300;
  }

  .font-medium {
    font-variation-settings: 'wght' 500;
  }

  .font-semibold {
    font-variation-settings: 'wght' 600;
  }

  .font-bold {
    font-variation-settings: 'wght' 700;
  }

  .font-extrabold {
    font-variation-settings: 'wght' 800;
  }

  // containers
  // wraps the whole page
  .page-content {
    @apply relative flex flex-col min-w-full w-full h-auto mx-auto space-y-8 md:space-y-16;
  }

  .banner {
    @apply flex flex-col md:flex-row items-center justify-center relative space-y-16 md:space-y-0 space-x-0 md:space-x-4;
    height: auto;
    min-height: 50vh;

    @media (min-width: theme('screens.md')) {
      height: calc(75vh - 200px);
    }
  }

  // for the container wrap
  .section-fluid {
    @apply relative block min-w-full w-full h-auto mx-auto;
  }

  .gutter-x {
    padding-left: var(--gutter-x);
    padding-right: var(--gutter-x);
  }

  .gutter-y {
    padding-bottom: var(--gutter-y);
    padding-top: var(--gutter-y);
  }

  // for the inner wrap
  .container {
    @apply relative block w-full h-auto mx-auto;
    max-width: var(--max-width);
  }

  .article {
    @apply relative flex flex-col items-start justify-center w-full max-w-prose mx-auto space-y-2 md:space-y-4;
  }

  .image-wrapper {
    @apply relative block w-full max-w-full mx-auto;
  }

  // buttons
  .btn-primary {
    @apply text-lg font-medium leading-5 transition duration-300 filter drop-shadow;
    background-color: var(--theme-accent);
    color: var(--button-text-color);

    &:hover,
    &:focus {
      @apply drop-shadow-lg;
      background-color: var(--theme-accent-secondary);
      color: var(--button-text-color-hover);
    }
  }

  // text
  .lead {
    @apply text-xl font-medium leading-relaxed;
  }

  // pre
  .ascii-art__pre {
    filter: contrast(110%) brightness(95%);
  }

  .dark .ascii-art__pre {
    filter: contrast(110%) brightness(105%);
  }
}
